@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="text"],input[type="password"],input[type="email"]{ 
@apply w-full border my-1 py-2 px-3 rounded-2xl;

}
button{
  @apply bg-gray-300 
}
button.primary{
  @apply bg-primary text-white p-2 w-full rounded-2xl;
}